@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
  font-style: Montserrat;
}

.background-registerUMKM {
    background-image: url(src/assets/image/senior-man-shirtless-turban-loincloth-steamed-sticky-rice-with-firewood-stove-according-life-rural-people-copy-space-rural-scene-countryside-thailand-2.png);
    /* background: linear-gradient(180deg, rgba(17, 109, 110, 0.07) 0%, rgba(182, 108, 86, 0.55) 100%); */
    background-size: contain; /* Menyertakan seluruh gambar dalam area elemen */
    background-size: 100% 100%; /* Ukuran 100% x 100% dari area elemen */    
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vh;
    margin-right: 0vh;
    height: fit-content;
    width: 100vw;
}

.navigation-bar {
    display: flex;
    margin-left: 0vw;
    margin-right: 0vw;
    height: 6vw;
    background-color: #FFFFFF;
}

.registrasipage1UMKM {
  /* height: 87.7vh;
  width: 100vw;
  display: block;
  position: relative;
  margin-top: 0vh; */
}

.box-registrasi {
  height: 70vh;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 0vh;
  margin-left: 4vw;
}

.box-registrasi img {
  position: relative;
  align-items: center;
  width: 70vw;
  height: 70vh;
  align-self: center;
  margin-top: 0vh;
  margin-left: 0vw;
}

.headline-text {
  position: absolute;
  display: flex;
  height: 10vh;
  width: 70vw;
  margin-top: 8vh; /* Posisikan elemen .headline-text di 23vh dari atas */
  margin-left: 8vw; /* Posisikan elemen .headline-text di sisi kiri .box-registrasi */
  transform: translate(0%, 0%); /* Geser elemen .headline-text ke tengah menggunakan transform */
  z-index: 2;
}

.part-one {
  display: inline-block;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.24px;
  margin-left: 0vw;
  height: 5vh;
  width: 8.9vw;
}

.part-two {
  color: #7C3309;
  display: inline-block;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.24px;
  margin-left: 0px;
}

.part-three {
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
}

.guide-text {

}

.box-logo {
    height: 6.5vh;
    width: 25vw;
    margin-left: 1vw;
    margin-top: 0.75vw;
}

/* img {
    height: 5vh;
    width: 10vw;
    margin-left: 1vw;
    margin-top: 0.75vw;
} */

.button-navigation-bar {
    /* height: 10vh;
    width: 25vw;
    margin-left: 60vw;
    margin-top: 0vw;
    display: flex;
    font-family: 'Montserrat', sans-serif; */
}

/* .btn-daftar {
    --color: #333;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  } */
  
  .btn-daftar::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .btn-daftar:hover {
    color: white;
  }
  
  .btn-daftar:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .btn-daftar:hover::before {
    top: -30px;
    left: -30px;
}

  /* .btn-masuk {
    --color: rgba(51, 51, 51, 0.20);
    background-color: rgba(109, 108, 108, 0.363);
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    margin-left: 0vh;
    margin-right: 5vh;
    font-size: 17px;
    z-index: 1;
    color: #1a1a1a;
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    border-color: #333;
  } */
  
  .btn-masuk::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .btn-masuk:hover {
    background-color: rgb(117, 117, 117);
    color: #FFFFFF;
  }
  
  .btn-masuk:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .btn-masuk:hover::before {
    top: -30px;
    left: -30px;
  }

.button-daftar {
  /* margin-top: 5vh;
  display: flex;
  flex-direction: column; */
}

.form-regist {

 }

.nama-toko-box {
  width: 70vw;
  height: 30vh;
  margin-top: 0vh;
  margin-left: 0vw;
  position: absolute;
  color: rgba(51, 51, 51, 0.70);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 178.571% */
  letter-spacing: 0.14px;
  display: flex;
  flex-direction: column;
}

/* .nama-toko {
  font-size: 12px;
} */

.email-toko-box {
  width: 70vw;
  height: 30vh;
  margin-top: 11vh;
  margin-left: 0vw;
  position: absolute;
  color: rgba(51, 51, 51, 0.70);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 178.571% */
  letter-spacing: 0.14px;
  display: flex;
  flex-direction: column;
}

.username-toko-box {
  width: 70vw;
  height: 30vh;
  margin-top: 22vh;
  margin-left: 0vw;
  position: absolute;
  color: rgba(51, 51, 51, 0.70);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 178.571% */
  letter-spacing: 0.14px;
  display: flex;
  flex-direction: column;
}

.password-toko-box {
  width: 70vw;
  height: 30vh;
  margin-top: 33vh;
  margin-left: 0vw;
  position: absolute;
  color: rgba(78, 78, 78, 0.7);
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 178.571% */
  letter-spacing: 0.14px;
  display: flex;
  flex-direction: block;
}

.left-box {
  display: inline-block;
  flex-direction: column;
}

.right-box {
  display: inline-block;
  flex-direction: column;
  margin-left: 5.5vh;
}

.input {
  border: 1px solid var(--putih, #F5F0F0);
  width: 60vw;
  height: 5vh;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.5s;
  border-color: #cfcfcf;
  font-size: 14px;
}

.input:hover,
.input:focus {
  border: 1px solid var(--putih, #F5F0F0);
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px rgba(224, 134, 74, 0.2);
  background-color: rgb(245, 244, 244);
}

.input-password {
  font-size: 12px;
  border: 1px solid var(--putih, #F5F0F0);
  width: 28.5vw;
  height: 5vh;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.5s;
  border-color: #cfcfcf;
  display: block;
  flex-direction: column;
}

.input-password:hover,
.input-password:focus {
  border: 1px solid var(--putih, #F5F0F0);
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px rgba(224, 134, 74, 0.2);
  background-color: rgb(245, 244, 244);
}

.input-confirm-password {
  border: 1px solid var(--putih, #F5F0F0);
  width: 28.5vw;
  height: 5vh;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.5s;
  border-color: #cfcfcf;
  display: block;
  flex-direction: column;
}

.input-confirm-password:hover,
.input-confirm-password:focus {
  border: 1px solid var(--putih, #F5F0F0);
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px rgba(224, 134, 74, 0.2);
  background-color: rgb(245, 244, 244);
}

.btn-next-page {
  --primary-color: #303030;
  --secondary-color: #fff;
  --hover-color: #706f6f;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  font-size: 14px;
  margin-top: 46vh;
  margin-left: 42vw;
  width: 18vw;
  height: 6vh;
  position: relative;
}

.btn-next-page .arrow-wrapper {
  display: flex;
  margin-left: 2.5vw;
  justify-content: center;
  align-items: center;
}

.btn-next-page .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn-next-page .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btn-next-page:hover {
  background-color: var(--hover-color);
}

.btn-next-page:hover .arrow {
  background: var(--secondary-color);
}

.btn-sign-up:hover .arrow:before {
  right: 0;
}

.background-login {
  background-image: url("src/assets/image/wicker-baskets-sale 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
}

.login-cont {
  width: 45vw;
  height: 60vh;
  background-color: #F5F0F0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 3vw;
  padding-left: 3vw;
}

.login-form-cont {
  display: flex;
  flex-direction: column;
}

.cont-login-input-form {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

.cont-login-input-form input {
  background-color: #FFF;
  padding: 0.5vw;
  width: 39vw;
  border-radius: 20px;
}

.login-form-cont button{
  background-color: #333;
  color: #FFF;
  margin-top: 2vh;
  width: 10vw;
  height: 5vh;
  border-radius: 20px;
  float: right;
}