.body {
    /* margin: 0; */
    background-color: #FFFFFF;
    width: 100vw;
    height: auto;
    color: #333;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow: hidden; */
}

.bg {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

.content {
    height: auto;
    width: 100vw;
    display: flex;
    margin-top: 10vh;
    position: relative;
}

nav {
    background-color: #FFFFFF;
    height: 10vh;
    width: 100vw;
    border-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
}

.side {
    background-color: #F5F0F0;
    height: 90vh;
    width: 15vw;
    /* font-family: Montserrat; */
    position: fixed;
}

.main{
    background-color: #FFF;
    margin-left: 15vw;
    width: 60vw;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    overflow-X: hidden;   
}

/* WebKit (Chrome, Safari) */
.main::-webkit-scrollbar {
    width: 12px;
}

.main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.main::-webkit-scrollbar-track {
    background-color: transparent;
}

.logo {
    margin-left: 2vw;
    width: 11vw;
}

.profile-side {
    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0.5vw;
}



.deskripsi {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(51, 51, 51, 0.80);
    text-align: center;
    /* font-family: Montserrat; */
    font-size: 14px;
    font-weight: 400;
}

.folls {
    border-radius: 20px;
    background: #7c330965;
    display: flex;
    color: #FFFFFF;
    width: 13vw;
    height: auto;
    padding: 0.5vw;
    margin-bottom: 0.5vh;
    /* padding-bottom: 4vh; */
}

.p1 {
    padding-right: 3.3vw;
}

.side-menu li {
    background-color: #FFFFFF;
    height: 5vh;
    margin-top: 2.5vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-radius: 10px;
    text-align: center;
    /* padding-top: 0.8vh; */
    align-items: center;
    display: flex;
    padding: 1vw;
    cursor: pointer;
}

.side-menu .icon-side {
    margin-right: 0.5vw;
    font-size: 25px;
    color: #333;
    fill: #333;
    
}

.posting{
    background-color: #F5F0F0;
    width: 56vw;
    height: 20vh;
    margin-top: 2vh;
    margin-left: 2vw;
    border-radius: 10px;
    padding-top: 1vh ;
    padding-left: 1vw;
    cursor: pointer;
}

.inputpost {
    background-color: #FFF;
    width: 53vw;
    height: 5vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.iconpost {
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 1.5vw;
}

.posting input {
    background-color: #FFF;
    width: 53vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 4vh;
}

.posting button{
    width: 8vw;
    background-color: #333;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-right: 4vh;
    float: right;
}

.posting span {
    color: rgba(51, 51, 51, 0.70);
    /* font-family: Montserrat; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 208.333% */
    letter-spacing: 0.12px;
}

.batas {
    display: flex;
    align-items: center; /* Posisikan item ke tengah secara vertikal */
}

.iconbatas {
    margin: 2vh 2vw;
    font-size: 2vw;
    margin-right: 0.5vw; /* Beri margin ke kanan agar ada ruang antara ikon dan garis */
}

.batas span {
    font-size: 20px;
    margin-right: 1vw;
    font-weight: 400;
}

.batas hr {
    height: 2px;
    color: #F5F0F0;
    flex: 1;
    margin-top: 4px;
    background: #F5F0F0;
}

.postan{
    /* background-color: aqua; */
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap

}

.postan1, .postan2, .postan3, .postan4{
    border-width: 2px;
    border-color: #F5F0F0;
    width: 16.5vw;
    height: 41vh;
    border-radius: 10px;
    margin-left: 2vw;
    margin-top: 1vw;
    cursor: pointer;
}

.statistik {
    /* margin-top: 3vh; */
    width: 25vw;
    padding-right: 2vw;
}

.statistik .icon{
    font-size: 5vw;
    margin-right: 0.5vw;
}

.statistik span {
    font-size: 2vw;
}

.statistik-bar {
    display: flex;
    align-items: center;
}

.statistik hr {
    height: 2px;
    color: #F5F0F0;
    background-color: #F5F0F0;
}

.postan1 .judul, .postan2 .judul, .postan3 .judul, .postan4 .judul {
    margin-right: 3.5vw;
    font-size: 12px;
    font-weight: 700;
    color: #7C3309;
}

.postan1 .deskripsi1, .postan2 .deskripsi1, .postan3 .deskripsi1, .postan4 .deskripsi1 {
    display: block;
    width: 15vw;
    height: 7vh;
    font-size: small;
    margin-left: 0.5vw;
    text-align: left;
    overflow: hidden;
    text-overflow: clip; /* Memotong teks setelah mengisi area span */
    white-space: pre-line; /* Mencegah teks untuk melipat baris */
}

.headline {
    display: flex;
    align-items: center;
    padding: 0.5vw;
}

.cont-gambar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 27vh;

}
.postan3 .cont-gambar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 27vh;
}

.postan4 .cont-gambar .gambar-1 {
    margin: 0.5vw;
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 12.5vh;
    border-radius: 4px;
}
.postan4 .cont-gambar .gambar-2 {
    margin: 0.5vw;
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 12.5vh;
    border-radius: 4px;
    margin-left: 0vw;
}
.postan4 .cont-gambar .gambar-3 {
    margin: 0.5vw;
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 12.5vh;
    border-radius: 4px;
    margin-top: 0vh;
    
}
.postan4 .cont-gambar .gambar-4 {
    margin: 0.5vw;
    margin-left: 0vw;
    background-color: #F5F0F0;
    width: 7.375vw;    
    height: 12.5vh;
    border-radius: 4px;
    margin-top: 0vh;
}

.postan3 .cont-gambar .gambar-1 {
    margin: 0.5vw;
    /* margin-left: 0vw; */
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 12.5vh;
    border-radius: 4px;
}

.postan3 .cont-gambar .gambar-2 {
    margin: 0.5vw;
    margin-left: 0vw;
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 12.5vh;
    border-radius: 4px;
    /* margin-top: 2vh; */
}

.postan3 .cont-gambar .gambar-3 {
    margin: 0.5vw;
    margin-top: 0vw;
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 12.5vh;
    border-radius: 4px;
}

.postan2 .cont-gambar .gambar-1 {
    margin: 0.5vw;
    /* margin-left: 0vw; */
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 26vh;
    border-radius: 4px;
}
.postan2 .cont-gambar .gambar-2 {
    margin: 0.5vw;
    margin-left: 0vw;
    background-color: #F5F0F0;
    width: 7.375vw;
    height: 26vh;
    border-radius: 4px;
}

.postan1 .cont-gambar .gambar-1 {
    margin: 0.5vw;
    /* margin-left: 0vw; */
    background-color: #F5F0F0;
    width: 15.25vw;
    height: 21vh;
    border-radius: 4px;
}

.statistik-like span {
    color: rgba(51, 51, 51, 0.50);
    /* font-family: Montserrat; */
    font-size: 14px;
    /* margin-top: 2vh; */
}

.statistik-like {
    margin-top: 1vh;
}

.profile-img {
    border-radius: 100%;
    width: 9vw;
    background-color: #7C3309;
    height: 18vh;
    overflow: hidden;
    margin-bottom: 1vh;
    /* Menggunakan overflow: hidden agar gambar sesuai dengan border-radius */
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-top: 5px; */
    border-radius: inherit;
    /* Menggunakan border-radius yang sama seperti .profile-img */
}

.gambar-1 img, .gambar-2 img, .gambar-3 img, .gambar-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-top: 5px; */
    border-radius: inherit;
    /* Menggunakan border-radius yang sama seperti .profile-img */
}




.loader {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_cube {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.loader_cube--glowing {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.loader_cube--color {
    z-index: 1;
    filter: blur(2px);
    background: linear-gradient(135deg, #1afbf0, #da00ff);
    animation: loadtwo 2.5s ease-in-out infinite;
}

@keyframes loadtwo {
    50% {
        transform: rotate(-80deg);
    }
}