.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* Warna latar belakang semi-transparan */
    z-index: 2;
    /* Z-index lebih tinggi dari form popup */
}

.popup-post {
    background-color: #F5F0F0;
    width: 48vw;
    height: auto;
    position: fixed;
    top: 30vh;
    left: 49vw;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 1vw;
}

.cont-poppost {
    width: 46vw;
    height: auto;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 1vh;
    display: flex;
    padding: 0.5vw;
}

.cont-poppost .icon-cont-post {
    margin-right: 0.5vw;
    font-size: 30px;
    color: #333;
    margin-top: 0.5vh;
    margin-right: 1vw;
}

.cont-poppost input{
    width: 42vw;
    /* margin-left:2vw ; */
    border-radius: 10px;
    padding-left: 1vw;
}

.judul-post {
    height: 5vh;
    background-color: #FFF;
    /* border-bottom: black solid; */
}

.cont-poppost textarea {
    width: 42vw;
    border-radius: 10px;
    padding: 0.5vw;
    background-color: #FFF;
    margin-top: 0.5vh;
}

select{
    width: 46vw;
    padding: 0.5vw;
    border-radius: 20px;
    margin-top: 1vh;
    background-color: #FFF;
}

.popup-post .attc-icon, .link-icon {
padding: 0.3vw;
    /* margin-top: 1.5vh; */
    /* margin-left: 0.5vw; */
    color: #333;
    font-size: 2vw;
    cursor: pointer;
}

.popup-post button{
    margin-top: 1vh;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 5px;
    float: right;
    color: white;
}

.popup-post .feeds-icon-exit {
    margin-left: 35vw;
    cursor: pointer;
}

.bg-attc {
    margin-right: 1vw;
    padding-left: 0.2vw;
    width: 3vw;
    border-radius: 100%;
    height: 6vh;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.cont-icon {
    display: flex;
    margin-top: 1vh;
}

.bg-link {
    border-radius: 20px;
    margin-right: 1vw;
    width: 38vw;
    display: flex;
    align-items: center;
    background-color: #FFF;
}

.bg-link {

}

#link-input {
    width: 25vw;
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    background-color: #FFF;
    border-radius: inherit;
}

.input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 10px;
    transition: all 0.5s;
}

.input:hover,
.input:focus {
    border: 2px solid #F5F0F0;
    box-shadow: 0px 0px 0px 7px rgba(216, 172, 86, 0.2);
    background-color: white;
}

.post-input hr {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.select-tag {
    align-items: center;
    text-align: center;
}

.button-submit-post {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #333;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.button-submit-post:hover {
    background-color: #0f1518;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.button-submit-post:active {
    background-color: #3d3f41;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.image-preview-container {
    display: flex;
    border-radius: 5px;
    width: 7vw;
    height: 12vh;
    margin-right: 1vw;
}

.image-preview-container img {
    border-radius: inherit;
    object-fit: cover;
}

.pre-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46vw;
    margin-top: 2vh;
}
