.button-setting {
    display: flex;
    float: right;
    margin-right: 3vw;
}

.button-setting button {
    margin-top: 5vh;
    border-radius: 20px;
    width: 14vw;
    height: 6vh;
    margin-right: 1.5vw;
    font-size: 16px;
}

.batal-setting {
    border: solid 2px #7C3309;
    background-color: #FFF;
    color: #333;
}

.simpan-setting {
    background-color: #333;
    color: #FFF;
}